html, body {
	margin: 0px;
	background-color: #C8C8C8;
	font-family: "Helvetica", sans-serif, monospace;
	text-align: center;
}

#footer {
	background-color: black;
	bottom: 0;
	position: fixed;
	width: 100%;
}

#footer p {
	color: white;
	font-size: xx-small;
	text-align: center;
}

#homeoptions {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;
	max-width: 1200px;
	margin: 10% auto 10% auto;
}

#homeoptions a {
	border: 5px solid black;
	border-radius: 20px;
	color: black;
	font-size: 25px;
	margin: 7px;
	padding: 20px 50px 20px 50px;
	text-decoration: none;
}

.infoform {
	background-color: black;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	max-width: 50%;
	padding: 20px;
	width: 900px; 
}

.infoform p {
	color: white;
	font-size: 15px;
	margin: 0px;
	margin-bottom: 25px;
	padding: 0px;
	text-align: left;
}

.infoform h1 {
	color: #00FC87;
	font-size: 50px;
	margin: 0px;
	margin-bottom: 25px;
	padding: 0px;
	text-align: center;
}

.infoform h2 {
	color: white;
	font-size: 20px;
	margin: 0px;
	margin-bottom: 25px;
	padding: 0px;
	text-align: center;
}

.infoform h3 {
	color: white;
	font-size: 25px;
	margin: 0px;
	margin-bottom: 25px;
	padding: 0px;
	text-align: center;
}

.infoform label {
	color: white;
	font-size: 25px;
	margin: 20px;
}

.infoform form {
	display: block;
    text-align: center;
}

.infoform table, td, tr, th {
	background-color: white;
	border: 1px solid;
	color: black;
	
}

.infoform th {
	background-color: white;
	font-size: 20px;
	margin-bottom: 15px;
	text-align: center;
}

.infoform input[type="text"],
.infoform input[type="password"],
.infoform input[type="tel"],
.infoform input[type="date"] {
	font-size: 20px;
	margin: 10px;
	padding: 5px;
}

.infoform input[type="radio"] {
	width: 25px;
	height: 25px;
}

.infoform input[type="submit"] {
	border: none;
	border-radius: 5px;
	color: black;
	font-size: 25px;
	margin: 10px;
	padding: 6px 18px;
	min-width: 150px;
	max-width: fit-content;
}

.infoform input[name="register"] {
	width: 210px;
}

.infoform input[type="checkbox"] {
	height: 25px;
	width: 25px;
}

.infoform form div:not(#page1) {
	border: 2px solid #00FC87;
	padding: 10px;
}

#logout {
	float: right;
}

#navigationLinks {
	background-color: black;
	overflow: hidden;
}

#navigationLinks a:not(#logo) {
	cursor: pointer;
	color: #00FC87;
	float: left;
	font-size: 25px;
	padding: 20px 20px 20px 20px;
	text-align: center;
	text-decoration: none;
}

#navigationLinks a:not(#logo):hover {
	background-color: #323232;
}

#navigationLinks a img {
	float: left;
	height: 50px;
	padding: 10px;
	width: auto;
}

.greenButton {
	cursor: pointer;
	background-color: #00FC87 !important;
}

.greenButton:hover {
	background-color: #99FFCF !important;
}
