body {
	margin: 0px;
	background-color: #C8C8C8;
}

#footer {
	background-color: black;
	bottom: 0;
	position: fixed;
	width: 100%;
}

#footer p {
	color: white;
	font-size: xx-small;
	text-align: center;
}

#homeoptions {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 100px;
}

#homeoptions a {
	background-color: #00FC87;
	border: 5px solid black;
	border-radius: 20px;
	color: black;
	font-family: "Helvetica", sans-serif, monospace;
	font-size: 25px;
	margin: 7px;
	padding: 20px 50px 20px 50px;
	text-decoration: none;
}


#loginform {
	background-color: black;
	margin: auto;
	margin-top: 40px;
	max-width: 50%;
	padding: 20px;
	width: 900px;
}

#loginform h1 {
	color: #00FC87;
	font-family: "Helvetica", sans-serif, monospace;
	font-size: 50px;
	margin: 0px;
	margin-bottom: 25px;
	padding: 0px;
	text-align: center;
}

#loginform label {
	color: white;
	font-family: "Helvetica", sans-serif, monospace;
	font-size: 25px;
	margin: 20px;
}

#loginform form {
	display: block;
    text-align: center;
}

#loginform input[type="text"], input[type="password"] {
	font-size: 24px;
	margin: 10px;
	padding: 5px;
}

#loginform input[type="submit"] {
	background-color: #00FC87;
	border: none;
	border-radius: 5px;
	color: black;
	font-family: "Helvetica", sans-serif, monospace;
	font-size: 25px;
	margin: 10px;
	padding: 6px 18px;
	width: 150px;
}

#loginform input[name="register"] {
	width: 210px;
}

#logout {
	float: right;
}

#navigationLinks {
	background-color: black;
	overflow: hidden;
}

#navigationLinks a:not(#logo) {
	color: #00FC87;
	float: left;
	font-family: "Helvetica", sans-serif, monospace;
	font-size: 25px;
	padding: 20px 10px 20px 10px;
	text-align: center;
	text-decoration: none;
}

#navigationLinks a:not(#logo):hover {
	background-color: #323232;
}

#navigationLinks a img {
	float: left;
	height: 50px;
	padding: 10px;
	width: auto;
}
