body {
	margin: 0px;
}

#footer {
	background-color: black;
	bottom: 0;
	position: fixed;
	width: 100%;
}

#footer p {
	color: white;
	font-size: xx-small;
	text-align: center;
}


#logout {
	float: right;
}

#navigationLinks {
	background-color: black;
	overflow: hidden;
}

#navigationLinks a:not(#logo) {
	color: #00FC87;
	float: left;
	font-family: "Verdana", sans-serif, monospace;
	font-size: 30px;
	padding: 15px 10px 15px 10px;
	text-align: center;
	text-decoration: none;
}

#navigationLinks a img {
	float: left;
	height: 50px;
	padding: 10px;
	width: auto;
}
